/* * {
    font-family: monospace;
} */
body {
    font-size: 22px;
}

h1 {
    color: blue;
}

h1, h2 {
    color: blue;
}

p {
    color: purple;
}

p span {
    text-transform: uppercase;
    background-color: gold;
}

.higlight{
    font-size: 35px;
}
.grey {
    color: grey;
}

#second {
    font-style: italic;
}